
@value theme: 'theme.css';
@value white, brandOrange, brandOrangeHover, brandGrey, brandLightGrey from theme;

.linkBase {
  padding: 12px;
  border: 0;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.linkPrimary {
  color: brandOrange;
}

.linkPrimary:hover {
  color: brandOrangeHover;
}

.linkSecondary {
  color: brandGrey;
}

.linkSecondary:hover {
  color: brandLightGrey;
}

